In [1]:
import numpy as np

height = [60, 62, 65, 68, 70, 74]
weight = [140, 138, 150, 166, 190, 250]

print(np.corrcoef(height, weight))
print('') # print a line break
# print only the r rather than the whole matrix; round to 2 decimals
print(round(np.corrcoef(height, weight)[0][1], 2))

[[1.         0.92989745]
 [0.92989745 1.        ]]

0.93

In [3]:
import pandas as pd
df = pd.read_csv('/Users/user/Desktop/python projects/insurance.csv')
df.corr(numeric_only=True)

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [5]:
df.charges.corr(df.age)

0.2990081933306476

In [7]:
from scipy import stats

corr = stats.pearsonr(df.charges, df.age)
corr

PearsonRResult(statistic=0.29900819333064765, pvalue=4.886693331718192e-29)

In [9]:
print('r: ' + str(round(corr[0], 4)))
print('p: ' + str(round(corr[1], 4)))

r: 0.299
p: 0.0

In [11]:
corr_df = pd.DataFrame(columns=['r', 'p-value'])

for col in df:                                    
  if pd.api.types.is_numeric_dtype(df[col]):      
    r, p = stats.pearsonr(df.charges, df[col])    
    corr_df.loc[col] = [round(r, 3), round(p, 3)] 

corr_df.sort_values(by=['r'], ascending=False)

              r  p-value
charges   1.000    0.000
age       0.299    0.000
bmi       0.198    0.000
children  0.068    0.013

In [13]:
def bivariate_stats(df, label):
  corr_df = pd.DataFrame(columns=['r', 'p-value'])

  for col in df:
    if pd.api.types.is_numeric_dtype(df[col]) and col != label:
      r, p = stats.pearsonr(df[label], df[col])
      corr_df.loc[col] = [round(r, 3), round(p, 3)]

  return corr_df.sort_values(by=['r'], ascending=False)

In [15]:
df = pd.read_csv('/Users/user/Desktop/python projects/insurance.csv')
bivariate_stats(df, 'charges')

              r  p-value
age       0.299    0.000
bmi       0.198    0.000
children  0.068    0.013